<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Sanity check bot</h1>
    <p>Ever made curl for web? This is our beta app, PLEASE DONT curl any website you dont have access to (We dont take any responsiblity if any trouble caused due to this app from you).</p>
    
    <form action="/redirect" method="POST">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Get YaY</button>
    </form>
</body>
</html>

