<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envision</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1>Hello world</h1>
    <div style="display: flex;gap:1rem">

        <button><a href="/register" class="home-btn">Register</a></button>
        <button><a href="/login" class="home-btn">Login</a></button>
    </div>

</body>
</html>