<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">

    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="text" placeholder="enter username" name="username" required>
        <input type="password" placeholder="enter password" name="password" required>
        <button type="submit">login</button>
        <a href="/register">register?</a>

    </form>
</body>
</html>