<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/auth.css">

    <title>Register Page</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" placeholder="set username" name="username" required>
        <input type="password" placeholder="set password" name="password" required>
        <button type="submit">create account</button>

        <a href="/login">Login??</a>
    </form>
</body>
</html>