<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update username</title>
    <link rel="stylesheet" href="/auth.css">

</head>
<body>
    <form action="/update-username" method="post">
        <input type="text" placeholder="enter new username" name="newusername" required>
        <input type="text" placeholder="enter authcode" name="authcode" required>
        <button type="Submit">Submit</button>
    </form>
</body>
</html>