<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quark CTF</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            height: 100%;
        }

        html {
            background: linear-gradient(to right bottom, #fbdb89, #f48982);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            background-attachment: fixed;
        }

        body {
            font-family: sans-serif;
            line-height: 1.4;
            display: flex;
        }

        .container {
            width: 400px;
            margin: auto;
            padding: 36px 48px 48px 48px;
            background-color: #f2efee;

            border-radius: 11px;
            box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
        }

        .login-title {
            padding: 15px;
            font-size: 22px;
            font-weight: 600;
            text-align: center;
        }

        .login-form {
            display: grid;
            grid-template-columns: 1fr;
            row-gap: 16px;
        }

        .login-form label {
            display: block;
            margin-bottom: 8px;
        }

        .login-form input {
            width: 100%;
            padding: 1.2rem;
            border-radius: 9px;
            border: none;
        }

        .login-form input:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
        }

        .btn--form {
            background-color: #f48982;
            color: #fdf2e9;
            align-self: end;
            padding: 8px;
        }

        .btn,
        .btn:link,
        .btn:visited {
            display: inline-block;
            text-decoration: none;
            font-size: 20px;
            font-weight: 600;
            border-radius: 9px;
            border: none;

            cursor: pointer;
            font-family: inherit;

            transition: all 0.3s;
        }

        button {
            outline: 1px solid #f48982;
        }

        .btn--form:hover {
            background-color: #fdf2e9;
            color: #f48982;
        }
    </style>
</head>

<body>
    <!-- <h1 style="text-align: center;">Quark CTF Web Challenge</h1> -->
    <div class="container">

        <form id="login-form" class="login-form">
            
            
            <div>
            <label for="username">Username </label>
            <input id="username" type="text" placeholder="Username" name="email" required />
        </div>

        <div>
            <label for="password">Password </label>
            <input id="password" type="password" placeholder="Password" name="password" required />
        </div>
        
        <button class="btn btn--form" type="submit" value="Log in">
            Log in
        </button>
    </form>
</div>

    <script>
        document.getElementById("login-form").addEventListener("submit", async (e) => {
            e.preventDefault();

            const password = document.getElementById("password").value;
            const username = document.getElementById("username").value;
            console.log(username, password);

            const response = await fetch("https://login.ctf.teamquark.com/api/login", {
                method: "POST",
                body: JSON.stringify({
                    username: username,
                    password: password
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });

            const displayData = await response.json();
            alert(JSON.stringify(displayData));
        });
    </script>
</body>

</html>
