<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-png" href="/assets/logo-WJ5otYon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1" />
  <script src="https://kit.fontawesome.com/d5effce557.js" crossorigin="anonymous"></script>
  <title>QuarkShell</title>
  <script type="module" crossorigin src="/assets/index-vJ7kDIc3.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-eX4zMlRn.css">
</head>

<body>
  <main id="main">
    <div id="bars">
      <div id="bar-1">QuarkShell.x64_x86</div>
      <div id="bar-2"></div>
      <div id="bar-3"></div>
      <div id="bar-4"></div>
      <div id="bar-5"></div>
    </div>
    <br>
    <div id="terminal">
      <div>
        <span id="prompt"><span id="pre-user"></span>@<span id="pre-host"></span>:$ ~ </span>
      </div>
      <!-- command output will be inserted before #write-lines-->
      <a id="write-lines"></a>
    </div>
    <div id="input-line">
      <div>
        <p id="password-input" style="display: none;">Password: <input id="password-field" autocomplete="off"
            type="password" /></p>
        <p id="input-hidden">
          <span id="prompt"><span id="user"></span>@<span id="host"></span>:$ ~
          </span>
          <input id="user-input" type="text" enterkeyhint="Enter" spellcheck="false" autocapitalize="none"
            autocomplete="off" />
        </p>
      </div>
      <br>
    </div>
  </main>
</body>


</html>
