*{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}
form input,button{
    padding:16px;
    border-radius: 5px;
}
